<table>
  <tr>
    <th>Imagen</th>
    <th>Producto</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Acci&oacute;n</th>
  </tr>

<% 
  @selecciones.each do |seleccion| 
    producto = seleccion.ver_producto
%>
  <tr>
    <td><%= link_to image_tag(producto.imagen,:height=>"100px",:width=>"100px"), producto %></td>
    <td><%= link_to producto.nombre, producto %></td>
    <td class="dinero"><%= number_to_currency(producto.precio, :unit=>"Bs", :delimeter=>".", :separator=>",") %></td>
    <td>
    <%= form_tag({:action=>'cambiar_cantidad', :producto_id=>seleccion.producto_id}) do %>
      <%= seleccion.cantidad %>
      <% if seleccion.cantidad <= 1 %>
        <%= button_tag "-", :name=>"reducir_cantidad", :disabled=>true %>
      <% else %>
        <%= button_tag "-", :name=>"reducir_cantidad", :disabled=>false %>
      <% end %>
      <% if seleccion.cantidad >= producto.cantidad %>
        <%= button_tag "+", :name=>"aumentar_cantidad", :disabled=>true %>
      <% else %>
        <%= button_tag "+", :name=>"aumentar_cantidad", :disabled=>false %>
      <% end %>
    <% end %>
    </td>
    <td><%= button_to "Quitar", :action=>'quitar_del_carro', :id=>seleccion.id %></td>
  </tr>
<% end %>
</table>
<div><%= link_to("Generar orden", new_orden_path, :class=>"boton-siguiente") unless @selecciones.empty? %></div>
