<table>
  <tr>
    <th>Imagen</th>
    <th>Producto</th>
    <th>Precio</th>
    <th>Disponibles</th>
    <th>Acci&oacute;n</th>
  </tr>

<% 
  @selecciones.each do |seleccion| 
    producto = seleccion.ver_producto
%>
  <tr>
    <td><%= link_to ("<img src=\""+producto.id.to_s+"\">").html_safe, producto %></td>
    <td><%= link_to producto.nombre, producto %></td>
    <td><%= number_to_currency(producto.precio, :unit=>"Bs", :delimeter=>",") %></td>
    <td><%= seleccion.cantidad %></td>
    <td><%= button_to "Quitar", :action=>'quitar_del_carro', :id=>producto.id %></td>
  </tr>
<% end %>
</table>
