<% unless @cat_actual.nil? %>
<h1><%= @cat_actual.nombre %></h1>
<p><%= @cat_actual.descripcion %></p>
<% end %>
<table>
  <tr>
    <th>Imagen</th>
    <th>Producto</th>
    <th>Precio</th>
    <th>Disponibles</th>
    <th>Acci&oacute;n</th>
  </tr>

<% @productos.each do |producto| %>
  <tr>
    <td class="alcentro"><%= link_to image_tag(producto.imagen,:height=>"100px",:width=>"100px"), producto %></td>
    <td><%= link_to producto.nombre, producto %></td>
    <td class="alcentro"><%= number_to_currency(producto.precio, :unit=>"Bs", :delimeter=>",") %></td>
    <td class="alcentro"><%= producto.cantidad %></td>
    <td class="alcentro">
  <% if usuario_actual then %>  
      <%= button_to "Agregar", {:action=>'agregar_al_carro', :id=>producto.id}, :class=>"uibutton"  %>
  <% else %>
      Seleccionar
  <% end %>
    </td>
  </tr>
<% end %>
</table>
