<h1>Lista de administradores</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @administradores.each do |administrador| %>
  <tr>
    <td><%= administrador.usuario %></td>
    <td><%= link_to 'Ver', administrador %></td>
    <td><%= link_to 'Editar', edit_administrador_path(administrador) %></td>
    <td><%= link_to 'Eliminar', administrador, confirm: '¿Est&aacute;s seguro de borrar el usuario?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Administrador', new_administrador_path %>
