<%= form_for(@categoria) do |f| %>
  <% if @categoria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categoria.errors.count, "error") %> prohibited this categoria from being saved:</h2>

      <ul>
      <% @categoria.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, :size => "", :class=>"validate[maxSize[100]]" %>
  </div>
  <div>
    <%= f.label :descripcion, 'Descripción de la categoría' %><br>
    <%= f.text_field :descripcion, :size => "", :class=>"validate[maxSize[255]]" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
