<h1>Listing productos</h1>

<table class="tablesorter">
  <tr>
    <th>Imagen</th>
    <th>Producto</th>
    <th>Bs.</th>
    <th>Unidades disponibles</th>
    <th>Acci&oacute;n</th>
  </tr>

<% @productos.each do |producto| %>
  <tr>
    <td><%= link_to '<img src="'+producto.id+'">', producto %></td>
    <td><%= link_to producto.nombre, producto %></td>
    <td><%= producto.precio %></td>
    <td><%= producto.cantidad %></td>
    <td>
  <% if usuario_actual then %>  
      Seleccionar
  <% elsif admin_actual then %>
      <%= link_to 'Editar', edit_producto_path(producto) %> | 
      <%= link_to 'Eliminar', producto, confirm: '¿Borrar definitivamente?', method: :delete %>
  <% else %>
      Para seleccionar, debe iniciar sesi&oacute;n
  <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if admin_actual then %>
  <%= link_to 'Ingresar nuevo producto', new_producto_path %>
<% end %>
