<% if notice then %><p id="notice"><%= notice %></p><% end %>

<h1><%=h @producto.nombre %></h1>
<p><% if usuario_actual then %>  
  <%= button_to "Agregar", :action=>'agregar_al_carro', :controller=>"tienda", :id=>@producto.id %>
<% else %>
  Seleccionar
<% end %></p>
<details>
  <%= image_tag(@producto.imagen, {:style=>""}) unless @producto.imagen.nil? %> 
  <p><%=h @producto.descripcion %></p>
  <p>Dimensiones (alto,ancho,largo): <%= @producto.alto.to_s+"x"+@producto.ancho.to_s+"x"+@producto.largo.to_s %>cm.</p>
  <p>Peso: <%=h @producto.peso %>Kg</p>
  <p>Precio: <%= number_to_currency(@producto.precio, :unit=>"Bs", :delimeter=>".", :separator=>",") %></p>
</details>

<% if admin_actual then %>
      <%= link_to 'Editar', edit_producto_path(@producto) %> | 
      <%= link_to 'Eliminar', producto, confirm: '¿Borrar definitivamente?', method: :delete %>
<% end %>
