<!DOCTYPE html>
<html>
<head>
  <title>TuKiosquito.com - El Kiosco electr&oacute;nico</title>
  <%= stylesheet_link_tag "blueprint/ie.css","blueprint/screen.css","application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  TuKiosquito.com
    <div id="nav_usuario">  
    <% if usuario_actual then %>  
      En sesi&oacute;n como <b><%= usuario_actual.usuario %></b>  
      <%= link_to "Cerrar sesión", cerrar_sesion_cliente_path %>  
    <% elsif admin_actual then %>  
      En sesi&oacute;n como <b><%= admin_actual.usuario %></b> (admin)
      <%= link_to "Cerrar sesión de admin", cerrar_sesion_admin_path %>  
    <% else %>    
      <%= link_to "Registrarse", registro_cliente_path %> o   
      <%= link_to "Iniciar sesión", iniciar_sesion_cliente_path %>  
    <% end %> 
    </div>
  </header>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg.html_safe, :id => "flash#{name}" %>
  <% end %>
  <div class="container">
    <nav class="span-4">
      <p><b>Categor&iacute;as</b></p>
      <ul id="categorias">
      <% Categoria.all.each do |c| %>
        <li><%= link_to c.nombre, '/c-'+c.id.to_s %></li>
      <% end %>
      </ul>
    </nav>
    <div class="span-20 last">
      <%= yield %>
    </div>
  </div>
  <hr>
  <footer>TuKiosquito.com</footer>
</body>
</html>
