<!DOCTYPE html>
<html>
<head>
  <title>TuKiosquito.com - El Kiosco electr&oacute;nico</title>
  <%= stylesheet_link_tag "blueprint/ie.css","blueprint/screen.css","application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav_usuario">  
  <% if usuario_actual then %>  
    En sesi&oacute;n como <b><%= usuario_actual.usuario %></b>
    | <%= link_to "Mi perfil", usuario_actual %>
    | <%= link_to 'Ver carrito', carrito_path %>
    | <%= link_to "Cerrar sesión", cerrar_sesion_cliente_path %>  
  <% elsif admin_actual then %>  
    En sesi&oacute;n como <b><%= admin_actual.usuario %></b> (admin)
    <%= link_to "Cerrar sesión de admin", cerrar_sesion_admin_path %>  
  <% else %>    
    <%= link_to "Registrarse", registro_cliente_path %> o   
    <%= link_to "Iniciar sesión", iniciar_sesion_cliente_path %>  
  <% end %> 
  </div>
  <header>
  <%= link_to image_tag("tklogo.png",:alt=>"TuKiosquito.com", :title=>"TuKiosquito.com"), root_url %>
  </header>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg.html_safe, :id => "flash#{name}" %>
  <% end %>
  <div class="container">
    <nav class="span-4">
      <p><b>Secciones</b></p>
      <ul id="secciones">
      <% if usuario_actual then %>  
        <li><%= link_to "Perfil", usuario_actual %></li>
        <li><%= link_to "Ver carrito", carrito_path %></li>
        <li><%= link_to "Ver órdenes", ver_ordenes_path %></li>
      <% else %>    
        <li><%= link_to "Registrarse", registro_cliente_path %></li>
        <li><%= link_to "Iniciar sesión", iniciar_sesion_cliente_path %></li>
      <% end %>
      </ul>
    </nav>
    <div class="span-20 last">
      <%= yield %>
    </div>
  </div>
  <hr>
  <footer>TuKiosquito.com</footer>
</body>
</html>
